includes:
    - vendor/shopware/core/DevOps/StaticAnalyze/PHPStan/extension.neon

parameters:
    level: max
    paths:
        - src
        - tests/Unit
        - tests/Integration
    bootstrapFiles:
        - phpstan-bootstrap.php
    excludePaths:
        analyse:
            - src/Resources/*
    tmpDir: var/phpstan
    treatPhpDocTypesAsCertain: true
    reportUnmatchedIgnoredErrors: true
    checkFunctionNameCase: true
    checkInternalClassCaseSensitivity: true
    reportAnyTypeWideningInVarTag: true
    checkMissingCallableSignature: true
    checkMissingVarTagTypehint: true
