.sw-product-detail-fib-product-label__description {
    margin-bottom: 1rem;
    color: var(--color-gray-700);
}

.sw-product-detail-fib-product-label__empty {
    margin-top: 0.75rem;
    margin-bottom: 0;
    color: var(--color-gray-600);
    font-size: 0.875rem;
}
